@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #ffffff;
}
.book .row{
    padding-right: 50px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   column-gap: 2rem;
}
.book .row .image{
 flex: 1 1 20rem;   
}
.book .row .image img{
width: 90%;
}
.book .row form{
   flex: 1 1 12rem;
   background: #E7E7E7;
   text-align: center;
   padding: 2rem;
   padding-top: 4rem;
   border-radius: .5rem;
   border: 1px solid #9B9B9B;
    box-shadow: 5px 5px 5px 6px #9B9B9B;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
   border-radius: 1.5em;
   cursor: pointer;
   font-size: 1.6rem;
    background: #329D9C;
    color: white;
    border-style: solid;
    padding:1rem 4rem;
   border-color: #329D9C;
}
.btn:hover{
    background: white;
    color: black;
    transition: 0.6s ease;
    transform: scale(1.0.5);
}
.book .row form .box{
    width: 90%;
    margin:.7rem 0;
    border:var(--border);
    font-size: 1rem;
    color: var(--black);
    text-transform: none;
    padding: 1rem;
}
.image img{
    width: 300px;
    height: 300px;
}
form {
    margin-top: 30px;
}
.condition{
    color: rgb(219, 37, 37);
}
.row{
    margin-top: 100px;
}